<div class="container mb-5 py-5">
    <h1>Courses</h1>
    <div class="row" *ngIf="courses">
        <div class="col-4" *ngFor="let course of courses">
            <div class="card mb-3">
                <div class="card-body">
                  <h4>Course Id: {{course.id}}</h4>  
                  <h5 class="card-title">Name: {{course.name}}</h5>
                  <h6>Duration: {{course.duration}}</h6>
                  <p class="card-text">Fee: {{course.fee}}</p>
                  <p>startDate: {{course.startDate | date : "dd/MM/yyyy"}}</p>
                  <a routerLink="/view-course/{{course.id}}" class="btn btn-primary mb-2 d-block">View Course</a>
                  <a routerLink="/edit-course/{{course.id}}" class="btn btn-primary mb-2 d-block">Edit Course</a>
                  <button (click)="deleteCourse(course)" class="btn btn-primary d-block w-100">Delete Course</button> 
                </div>
            </div>
        </div>        
    </div>
    <button routerLink="/add-course"class="btn btn-primary">Add New Course</button>
</div>