<div class="container py-5 mb-5">
    <div *ngIf="students">
        <h1>Students</h1>
        <div class="row">
            <div class="col-4" *ngFor = "let student of students">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Name: {{ student.name }}</h5>
                        <h6>Age: {{student.age }}</h6>
                        <p class="card-text">Class: {{student.class}}</p>
                        <p>Section: {{student.section}}</p>
                        <p>Address: {{student.address}}</p>
                        <p>Course Id: {{student.courseId}}</p>
                        <a routerLink="/view-student/{{ student.id }}" class="btn btn-primary mb-2 d-block">View Student</a>
                        <a routerLink="/edit-student/{{ student.id }}" class="btn btn-primary mb-2 d-block">Edit Student</a>
                        <button (click)="deleteStudent(student)" class="btn btn-primary d-block w-100">Delete Student</button> 
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <a routerLink= "/add-student" class="btn btn-primary">Add New Student</a>
</div>